html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "proxima-nova", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, Helvetica, Arial, sans-serif;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    @include media(">=768px") {
        padding: 0 30px;
    }
    @include media(">=1140px") {
        width: 1140px;
    }
}

.bg-transparent {
    background-color: transparent;
}